* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --bgColor: rgb(55, 60, 71);
  --fontColor: #EEEEEE;
  --underlineColor: #7debd3;
  --underlineColor2: #e7e57a;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--fontColor);
  background-color: var(--bgColor);
}

.underline {
  color: var(--underlineColor);
}

.underline2 {
  color: var(--underlineColor2);
}

.image-bg-container img{
  width: 100%;
  position: absolute;
  z-index: -1;
}

.header {
  background-color: var(--bgColor);
  text-align: center;
  font-size: 72px;
  padding-bottom: 18px;
}